@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit</h2>

<h4>Edit this machine: @Html.DisplayFor(model => model.MachineDetails)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Machine details: ")
  @Html.EditorFor(model => model.MachineDetails)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Machines", "Index")</p>
