@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h3>Add a new engineer</h3>

@using (Html.BeginForm())
{
  @Html.Label("Enter engineer details: ")
  @Html.TextBoxFor(model => model.EngineerDetails)

  @Html.Label("Assign machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Add engineer" class="btn btn-default"/>
}

<p>@Html.ActionLink("Show all engineers", "Index")</p>